@keyframes rotation_loader {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 180deg;
    }
    100% {
        rotate: 360deg;
    }
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    margin: auto;
    padding-top: 100px;
}

.square_box {
    width: 50px;
    aspect-ratio: 1/1;
    border: solid 5px lightblue;
    border-right: solid 5px blue;
    border-radius: 50%;
    animation: rotation_loader 2s linear infinite;
}